<header class="main-header">
  <nav>
    <ul>
      <li><a href="/">Login</a></li>
      <li><a href="/cadastro">Cadastro</a></li>
      <li><a href="/tarefas">Tarefas</a></li>
    </ul>
  </nav>
</header>
