<h1>Minhas Tarefas</h1>
<input type="text" id="novo-titulo" placeholder="Título da tarefa">
<button onclick="criarTarefa()">Adicionar</button>

<ul id="lista-tarefas"></ul>

<script src="/js/tarefas.js"></script>
