<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cadastro</title>
  <style>
    body {
      margin: 0;
      background-color: #aaa;
      font-family: Arial, sans-serif;
    }

    .login-container {
      background-color: white;
      margin: 5% auto;
      padding: 40px;
      border-radius: 20px;
      max-width: 400px;
      text-align: center;
    }

    h1 {
      margin-bottom: 30px;
    }

    input[type="email"],
    input[type="password"] {
      width: 80%;
      padding: 12px;
      margin: 10px 0;
      border-radius: 20px;
      border: 1px solid #ccc;
      font-size: 16px;
    }

    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px 30px;
      border-radius: 15px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 20px;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
   <form action="/login" method="POST">
  <input type="email" name="email" placeholder="seuemail@gmail.com" required />
  <br />
  <input type="password" name="password" placeholder="Crie a Senha" required />
  <br />
  <button type="submit">Entrar</button>
</form>
  </div>
  <script>

document.querySelector('form').addEventListener('submit', function(event) {
      event.preventDefault();
      const email = document.querySelector('input[name="email"]').value;
      const password = document.querySelector('input[name="password"]').value;

      if (!email || !password) {
        event.preventDefault();
        alert('Por favor, preencha todos os campos.');
      }

      window.location.href = '/about';
    });
  </script>
</body>
</html>